html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, cation, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; 
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; 
    vertical-align: baseline;
}
$font: 'Helvetica', sans-serif;

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquoite:before, blockquote:after, 
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: #FFF;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 2%;
    letter-spacing: 1px;
    color: #212121;
    font-size: 12px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #448AFF;
}



.button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px 12px;
    margin: -26.5px 0 0 -82.5px;
    font-size: 32px;
    background-color: #E91E63;
    color: #FFF;
    border-radius: 1.5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
                0 3px 6px rgba(0, 0, 0, .23);
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    -webkit-transform: translate(-50%, -50%, 0);
    transform: translate(-50%, -50%, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
                0 6px 6px rgba(0, 0, 0, .23);
}

.ripple {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, .35);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: ripple;
    animation-name: ripple;
}
@-webkit-keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(165);
    }
}
@keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        transform: scale(165);
    }
}